<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=genericmobileapproval;AccountKey=LOoGMRvzxGGNpO4QcbxCixBBytIaGFjo08QRsJAFSiHfD28GB3Zp0O/Yoo8aFLyne45wUtrVslyx1iWBTbiDig==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=genericmobileapproval;AccountKey=LOoGMRvzxGGNpO4QcbxCixBBytIaGFjo08QRsJAFSiHfD28GB3Zp0O/Yoo8aFLyne45wUtrVslyx1iWBTbiDig==" />
  </connectionStrings>
  <appSettings>
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=genericmobileapproval;AccountKey=LOoGMRvzxGGNpO4QcbxCixBBytIaGFjo08QRsJAFSiHfD28GB3Zp0O/Yoo8aFLyne45wUtrVslyx1iWBTbiDig==" />
    <add key="AzureTempBlobStorageAccountName" value="genericmobileapproval" />
    <add key="AzureTempBlobStorageAccountKey" value="LOoGMRvzxGGNpO4QcbxCixBBytIaGFjo08QRsJAFSiHfD28GB3Zp0O/Yoo8aFLyne45wUtrVslyx1iWBTbiDig==" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.0" newVersion="6.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>-->
  <!--<log4net>
    --><!-- Azure Table Appender, uncomment, set proper QueueName and AWS credentials (appSettings) to try it out --><!--
    <appender name="AzureTableAppender" type="log4net.Appender.AzureTableAppender, log4net.Appender.Azure">
      <param name="TableName" value="mobileapprovalapilogs"/>
      --><!-- You can either specify a connection string or use the ConnectionStringName property instead --><!--
      <param name="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mobileapprovallogsdev;AccountKey=+fq1w7yOuMvPf8AH6thoLZeRUKDc8vnl7IpRg26E1waW+zOkVBruoPCYUJm7WOcsmG5coGSqz5GBJX/6jUPZVQ=="/>
      --><!--<param name="ConnectionStringName" value="GlobalConfigurationString" />--><!--
      --><!-- You can specify this to make each LogProperty as separate Column in TableStorage, 
    Default: all Custom Properties were logged into one single field --><!--
      <param name="PropAsColumn" value="true" />
      <param name="PartitionKeyType" value="LoggerName" />
    </appender>
    --><!-- Azure Blob Appender, uncomment, set proper BucketName and AWS credentials (appSettings) to try it out --><!--
    <root>
      <level value="ALL" />
      <appender-ref ref="AzureTableAppender" />
      <appender-ref ref="AzureAppender2" />
      <appender-ref ref="AzureAppender3" />
      <appender-ref ref="AzureAppender4" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>-->
</configuration>