<form name="UpdateUser" role="form">
    <div id="mobile-home" class="page-width" ng-controller="UpdateUserController" ng-init="init()">
        <div class="mobile-button row">
            <div class="col-xs-6 text-align-center first-col">
                @*<h4 style="color:green" class="text-align-center">{{msg}}</h4>*@
                <div ng-click="GotoLandingpage()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </div>
            </div>
            <div class="col-xs-6 text-align-center first-col">
                <div ng-click="SendData()">
                    <span class="glyphicon glyphicon-ok"></span>
                    Save
                </div>
            </div>
        </div>
        <div id="userdetails">
            <div class="user-details">
                <div class="title-section row">
                    <div class="title-text">User Information</div>
                </div>
                <div class="row">
                    <div class="col-xs-7 required">
                        <label for="Albert" class="control-label">First Name</label>
                        <input type="text" class="form-control" id="FirstName" name="FirstName" ng-model="FirstName" placeholder="Adalard" ng-required="true">

                    </div>
                    <div class="col-xs-5 required">
                        <label for="Shine" class="control-label">Last Name</label>
                        <input type="text" class="form-control" id="LastName" name="LastName" ng-model="LastName" placeholder="Adalard" ng-required="true">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7 required">
                        <label for="Albert" class="control-label">Full Name</label>
                        <input type="text" class="form-control" id="FullName" name="Fullname" placeholder="Adalard Werner" ng-model="Fullname" ng-required="true" />

                    </div>
                    <div class="col-xs-5 required">
                        <label for="Albert" class="control-label">Email</label>
                        <input type="text" class="form-control" id="Email" name="Email" ng-model="Email" placeholder="Adalard.Werner@externals.adidas-group.com" ng-required="true">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7 required">
                        <label for="Shine" class="control-label">Device Name</label>
                        <input type="text" class="form-control" id="DeviceName" name="DeviceName" ng-model="DeviceName" placeholder="Apple iPhone" ng-required="true">
                    </div>
                    <div class="col-xs-5 required">
                        <label for="Shine" class="control-label">Device OS</label>
                        <input type="text" class="form-control" id="DeviceOS" name="DeviceOS" placeholder="Apple iPhone" ng-model="DeviceOS" ng-required="true" />
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div id="Backendservices">
            <div class="backends">
                <div class="title-section row">
                    <div class="title-text">
                        My Backends
                        <div class="add">
                            <div ng-click="addNewBackend()"><span class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-inverse" id="tab_logic_Backend">
                        <thead class="thead-inverse">
                            <tr>
                                <th><label>Backend</label></th>
                                <th><label>Update Frequency</label></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="backend in backends">
                                <td>
                                    <div class="input-group">
                                        <input class="form-control text-box single-line" id="BackendID" name="BackendID" ng-model="backend.BackendID" type="text" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input class="form-control text-box single-line" id="DefaultUpdateFrequency" name="DefaultUpdateFrequency" ng-model="backend.DefaultUpdateFrequency" type="text" />
                                        <span class="input-group-addon" id="updateFrequency">minutes</span>
                                        @*<span class="input-group-addon" id="updateFrequency">
                                            <select data-role="listview" data-inset="true" ng-options="frq as frq.name for frq in frequency " ng-model="backend.Frquency">
                                                <option value="">--Select--</option>
                                            </select></span>*@
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div ng-click="removeBackend(backend)"><span class="glyphicon glyphicon-remove"></span></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="Devicesservices">
            <div class="devices">
                <div class="title-section row">
                    <div class="title-text">
                        My Devices
                        <div class="add">
                            <div ng-click="addNewdevices()"><span class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-inverse" id="tab_logic_Device">
                        <thead class="thead-inverse">
                            <tr>
                                <th><label>Name</label></th>
                                <th><label>OS</label></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="device in devices">
                                <td>
                                    <input class="form-control text-box single-line" id="DeviceName" name="DeviceName" ng-model="device.DeviceName" type="text" />
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" id="DeviceBrand" name="DeviceBrand" ng-model="device.DeviceBrand" type="text" />
                                </td>
                                <td>
                                    <div ng-click="removedevices(device)"><span class="glyphicon glyphicon-remove"></span></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>






