<div id="mobile-home" class="page-width approval-details" ng-controller="ApprovalDetailsController" ng-init="init()">
    <div id="overlay" ng-show="loading">
    </div>
    <div id="spinner" ng-show="loading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <div class="align-text-top" ng-click="redirect()">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Approval Dashboard
    </div><br />
    <div class="alert alert-info" ng-show="ShowwaitingMessage">
        <p>Please try after sometime. Your requests are being synched.</p>
    </div>
    <div class="alert alert-success" ng-show="tasksuccess">
        <p>Request {{taskrequestid}} {{taskrequeststatus}} successfully!</p> 
    </div>
    <div class="backends">
        <div class="title-section">
            <div class="title-text">
                {{Approvaltaskheader}}
            </div>
        </div>
        <div class="table-responsive" style="padding:0px 2px;">           
            <table class="table table-inverse" id="tab_logic_Backend">
                <thead class="thead-inverse">
                    <tr>
                        <th><label>Request#</label></th>
                        <th class="tasktitle"><label>Name</label></th>
                        <th><label>Status</label></th>
                        <th><span ng-show="hideButton">Take Action</span></th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr ng-class-odd="'odd'" ng-class-even="'even'" ng-show="loading">
                        <td></td><td align="center" class="glyphicon glyphicon-refresh gly-spin"></td><td></td>
                    </tr>*@
                    <tr ng-repeat="approvaltask in approvalTasks | filter:paginate">
                        <td>
                            <div class="input-group decoration" ng-click="showDetails(approvaltask.RequestId, approvaltask.ServiceLayerTaskID)">
                                {{approvaltask.RequestId}}
                            </div>
                        </td>
                        <td class="tasktitle">
                            <div class="input-group">
                                {{approvaltask.TaskTitle}}
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                {{approvaltask.Status}}
                            </div>
                        </td>                        
                        <td>
                            @*<div class="input-group align-middle" style="position:relative;z-index:1000;" ng-show="CurrentTask(approvaltask.RequestId)">
                                <div class="glyphicon glyphicon-refresh gly-spin">
                                    
                                </div>
                            </div>*@
                            <div class="input-group" ng-show="hideButton">
                                <div><button type="button" class="btn btn-primary" data-toggle="tooltip" title="Approve" data-placement="top"><span class="glyphicon glyphicon-ok" ng-click="requestStatus('Approved',approvaltask.RequestId, approvaltask.ServiceLayerTaskID)"></span></button>
                                <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Reject" data-placement="top"><span class="glyphicon glyphicon-remove" ng-click="requestStatus('Rejected',approvaltask.RequestId, approvaltask.ServiceLayerTaskID)"></span></button></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="align-middle"><ul uib-pagination total-items="totalItems" max-size="5" force-ellipses="true" ng-model="currentPage" items-per-page='5'></ul></div>
             
        </div>
    </div>
</div>

 
    
