<div id="mobile-home" class="approval-details" ng-controller="ApprovalDetailsController" ng-init="init()">    
    <div id="spinner1" style="position:absolute;top:0;z-index:999999;width:100%;height:100vh;background-color:rgba(0,0,0,0.5)" ng-show="loading">
        <img style="position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);width:100px" src="~/Images/adidas-loading.gif" />
    </div>
    <span class="notification-glyph glyphicon glyphicon-triangle-top" ng-if="cs.notificationActive"></span>
    <div class="notification-content alert alert-info" ng-class="cs.notificationActive?'enable':'disable'" ng-if="cs.notificationActive">
        <p ng-bind="cs.notificationText"></p>
    </div>  
    <div class="btn-footer">
        <div class="col-xs-12 text-align-center btn-back">
            <div ng-click="redirect()">
                <span class="glyphicon glyphicon-menu-left"></span>
                Dashboard
            </div>
        </div>
    </div>
    <div class="main-section">
        <div class="title-section">
            <div class="title-text tab-titles">
                <div class="tab-pending" ng-class="{'tab-active': showpending}" ng-click="showpendingtasks();showpending=true;">Pending Tasks</div><div class="tab-completed" ng-class="{'tab-active': !showpending}" ng-click="showcompletedtasks();showpending=false;">Completed Tasks</div>
            </div>
        </div>
        <div class="details-section padding-top-none">
            <div ng-repeat="approvaltask in approvalTasks" ng-init="$parent.selectedIndex = -1">
                <div class="row task-section bottom-border" ng-class="{'pendingtask': showpending}" ng-click="$parent.selectedIndex == $index?$parent.selectedIndex = -1:$parent.selectedIndex = $index;">
                    <div class="col-xs-11 task-content" ng-class="{'move-left': $parent.selectedIndex == $index}">
                        <div class="col-xs-5 label-task-head" ng-bind="approvaltask.RequestId"></div>
                        <div class="col-xs-7 label-task-date" ng-show="showpending">
                            Due Date : <span ng-bind="approvaltask.DueDate | dateFilter | date: 'dd.MM.yyyy'"></span>
                        </div>
                        <div class="col-xs-7 label-task-date" ng-show="!showpending">                            
                            Decision Date : <span ng-bind='approvaltask.DecisionDate | dateFilter | date: "dd.MM.yyyy"'></span>
                        </div>
                        <div class="col-xs-12 label-task-title">
                        Name : <span ng-bind='approvaltask.TaskTitle'></span>
                        </div>
                        <div class="col-xs-12 label-task-status">
                        Status : <span ng-bind='approvaltask.Status'></span>
                        </div>
                    </div>
                    <div class="col-xs-1 task-arrow"><span class="glyphicon glyphicon-menu-right"></span></div>
                    <div class="action-items" ng-class="{'move-right': $parent.selectedIndex == $index}">
                        <div class="task-action action-reject" ng-show="showpending" ng-click="requestStatus('Rejected',approvaltask.RequestId, approvaltask.ServiceLayerTaskID)">Reject</div>
                        <div class="task-action action-approve" ng-show="showpending" ng-click="requestStatus('Approved',approvaltask.RequestId, approvaltask.ServiceLayerTaskID)">Approve</div>
                        <div class="task-action action-more" ng-click="showDetails(approvaltask.RequestId, approvaltask.ServiceLayerTaskID)">More<div>...</div></div>
                    </div>
                </div>
                
            </div>
        </div>     
          
    </div>
</div>



