<div id="mobile-home" class="approval-landing" ng-controller="ApprovalLandingController" ng-init="init()">   
    <div id="spinner1" style="position:absolute;top:0;z-index:999999;width:100%;height:100vh;background-color:rgba(0,0,0,0.5)" ng-show="showloader" >
        <img style="position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);width:100px" src="~/Images/adidas-loading.gif" />        
   </div>
    <div ng-show="showcontent">
        <span class="notification-glyph glyphicon glyphicon-triangle-top" ng-if="cs.notificationActive"></span>
        <div class="notification-content alert alert-info" ng-class="cs.notificationActive?'enable':'disable'" ng-if="cs.notificationActive">
            <p ng-bind="cs.notificationText"></p>
        </div>
        <div class="btn-footer">
            @*<div class="col-xs-6 text-align-center first-col btn-save">
                <div ng-click="SyncUpdate()">                    
                    Sync Request
                </div>
            </div>*@
            <div class="col-xs-12 text-align-center btn-save">
                <div ng-click="update('true')">                    
                    Force Update
                </div>
            </div>
        </div>
        <div class="main-section">
            <div class="title-section">
                <div class="title-text">Request Status</div>
            </div>
        </div>
        <div class="bg-canvas">
            <div class="synch-time">Last refresh : <span ng-bind="lastsynch | date:'dd.MM.yyyy hh:mm a'"></span></div>           
            <div class="">
                <div class="col-xs-7 pendingbox">
                    <div class="canvas-wrap">
                        <canvas id="canvaspending" width="180" height="180"></canvas>
                        <span id="procentpending"></span>
                    </div>                 
                </div>
                <div class="col-xs-5 TasksCount-section">                    
                    <div class="row"><div class="col-xs-2"><span class="dot pending-dot"></span></div><div class="col-xs-9">Pending</div></div>
                    <div class="row"><div class="col-xs-2"></div><div class="col-xs-9 pending-count" ng-bind="pending"></div></div>
                    <div class="row completed-count-row"><div class="col-xs-2"><span class="dot completed-dot"></span></div><div class="col-xs-9">Completed</div></div>
                    <div class="row"><div class="col-xs-2"></div><div class="col-xs-9 completed-count" ng-bind="completed"></div></div>                   
                </div>
            </div>            
        </div>
        <div class="main-section">            
            <div class="details-section">
                <div class="row bottom-border" ng-repeat="backend in backends" ng-click="redirectToDetailsPage(backend.BackendID)">
                    <div class="col-xs-4 label-value">
                        <div class="label-task-head" ng-bind="backend.BackendName"></div>
                        <div class="backend-task-details-last">Requests - <span ng-bind="backend.Pending+backend.Approved+backend.Rejected"></span></div>
                    </div>
                    <div class="col-xs-2 label-value">
                        <div class="canvas-wrap-task" >
                            <canvas id="canvaspending{{$index}}" width="155" height="155" ng-init="drawbackendRequestCountCircles(backend.Pending+backend.Approved+backend.Rejected,backend.Pending,$index)"></canvas>                            
                        </div>
                    </div>
                    <div class="col-xs-5 label-value">
                        <div class="backend-task-details"><span class="backend-pending-count"></span>Pending: <span ng-bind="backend.Pending"></span></div>
                        <div class="backend-task-details-last"><span class="backend-completed-count"></span>Completed: <span ng-bind="backend.Approved+backend.Rejected"></span></div>
                    </div>
                    <div class="col-xs-1 label-value arrow-next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>

                </div>
            </div>            
        </div>
    </div>
</div>
