<form name="DetailTask" role="form">
    <div id="mobile-home" class="page-width detail-task" ng-controller="ApprovalDetailstaskController" ng-init="init()">
        <div id="overlay" ng-show="showloader">
        </div>
        <div id="spinner" ng-show="showloader">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <div class="align-text-top" ng-click="redirect()">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Approvals List
        </div> <br />
        <div class="alert alert-info" ng-show="showretry">
            <p>Please try after sometime. Request is being synched.</p>
        </div>
        <div class="alert alert-info" ng-show="nopdfmessage">
            <p>PDF is not available for this Request.</p>
        </div>        
        <div class="alert alert-success" ng-show="tasksuccess">
            <p>Request {{taskrequeststatus}} successfully!</p>
        </div>
        <div class="mobile-button row" ng-show="hideButton">
            <div class="col-xs-6 text-align-center first-col">
                <div ng-click="requestStatus('Rejected',id)">
                    <span class="glyphicon glyphicon-remove"></span>
                    Reject
                </div>
            </div>
            <div class="col-xs-6 text-align-center first-col">
                <div ng-click="requestStatus('Approved',id)">
                    <span class="glyphicon glyphicon-ok"></span>
                    Approve
                </div>
            </div>
        </div>
        <div class="task-details">
            <div class="title-section row">
                <div class="title-text">Request Details</div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <label for="Albert" class="control-label">Request#:</label><br />
                    {{id}}
                </div>
                <div class="col-xs-5">
                    <label for="Shine" class="control-label">Title:</label><br />
                    {{title}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <label for="Albert" class="control-label">Status:</label><br />
                    {{status}}
                </div>
                <div class="col-xs-5">
                    <label for="Albert" class="control-label">Created:</label><br />
                    {{created | dateFilter | date: "dd-MM-yyyy HH:mm"}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <label for="Shine" class="control-label">Requester:</label><br />
                    {{name}}
                </div>
            </div>
        </div>
        <div class="task-details fields-details">
            <div class="title-section">
                <div class="title-text">Request Overview</div>
            </div>
            <div class="table-responsive">
                <table class="table table-inverse" id="tab_logic_Backend">
                    <tr ng-repeat="field in fields">
                        <td>
                            <div class="input-group">
                                <b>{{field.Name}}</b>
                            </div>
                        </td>
                        <td>:</td>
                        <td>
                            <div class="input-group">
                                {{field.Value}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>           
        </div>
        <div class="backends">
            <div class="title-section">
                <div class="title-text">
                    Approvers
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-inverse" id="tab_logic_Backend">
                    <thead class="thead-inverse">
                        <tr>
                            <th><label><b>User</b></label></th>
                            <th><label><b>Status</b></label></th>
                            <th><label><b>Due Date</b></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="approver in approvers">
                            <td>
                                <label class="approver-lable" style="white-space:pre-wrap;">{{approver.UserName}}</label>
                            </td>
                            <td>
                                <label class="approver-lable">{{approver.Status}}</label>

                            </td>
                            <td>
                                <label class="approver-lable">{{approver.DueDate | dateFilter | date: "dd-MM-yyyy"}}</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
            <div style="text-align: center;">
                <button type="button" style="" class="btn btn-primary btn-pdf" data-toggle="tooltip" title="Download Request" data-placement="top"><span style="" ng-click="openpdf()">Download Request</span></button>                
            </div>
    </div>
</form>
