<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.0" newVersion="6.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.WebJobs.Host" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.WebJobs" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=genericmobileapproval;AccountKey=LOoGMRvzxGGNpO4QcbxCixBBytIaGFjo08QRsJAFSiHfD28GB3Zp0O/Yoo8aFLyne45wUtrVslyx1iWBTbiDig==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=genericmobileapproval;AccountKey=LOoGMRvzxGGNpO4QcbxCixBBytIaGFjo08QRsJAFSiHfD28GB3Zp0O/Yoo8aFLyne45wUtrVslyx1iWBTbiDig==" />
    <add name="BakendAgentCarConnectionString" connectionString="Data Source=deheremcl045\test;Initial Catalog=eCAR;user id=bizagisa;password=bizagi" providerName="System.Data.SqlClient" />
    <add name="BakendAgentStoreConnectionString" connectionString="Data Source=deheremcl045\test;Initial Catalog=StoreUpgrade;user id=bizagisa;password=bizagi" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="GenericMobileStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=genericmobileapproval;AccountKey=LOoGMRvzxGGNpO4QcbxCixBBytIaGFjo08QRsJAFSiHfD28GB3Zp0O/Yoo8aFLyne45wUtrVslyx1iWBTbiDig==" />
    <add key="UpdateTriggerAzureQueues" value="DefaultEndpointsProtocol=https;AccountName=genericmobileapproval;AccountKey=LOoGMRvzxGGNpO4QcbxCixBBytIaGFjo08QRsJAFSiHfD28GB3Zp0O/Yoo8aFLyne45wUtrVslyx1iWBTbiDig==" />
    <add key="AzureTables.UserDeviceConfiguration" value="UserDeviceConfiguration" />
    <add key="AzureTables.ReferenceData" value="ReferenceData" />
    <add key="AzureTables.Backend" value="Backend" />
    <add key="UpdateTriggerInputQueue" value="updatetriggerinputqueue" />
    <add key="GeneratePDFQueue" value="generatepdfqueue" />
    <add key="ConstantFraction" value="1.2" />
    <add key="timeoutperiod" value="60000000" />
    <add key="RegularChecksWaitingTimeInMinutes" value="5" />
    <add key="MissedUpdatesWaitingTimeInMinutes" value="8" />
    <add key="TimeSpanHours" value="3" />
    <!--<add key="BackendAgentURL" value="http://mobbackendservices.azurewebsites.net/" />-->
    <add key="BackendAgentURL" value="http://localhost:62587/" />
    <add key="BackendAgentRequestUpdateAPI" value="api/agents/{0}/requestsUpdateRetrieval" />
    <add key="GetCarPDFDetailsSPName" value="GetPDFDetails" />
    <add key="GetStorePDFDetailsSPName" value="GetPDFDetails" />
    <add key="PDFCellFontName" value="Arial" />
    <add key="PDFCellFontSize" value="8" />
    <add key="PDFSummarryCellFontSize" value="8" />
    <add key="PDFCellPaddingSize" value="8ft" />
    <add key="BlobUrl" value="http://genericmobileapproval.blob.core.windows.net/mobileapprovalpdfcontainer" />
    <add key="BlobAccountKey" value="LOoGMRvzxGGNpO4QcbxCixBBytIaGFjo08QRsJAFSiHfD28GB3Zp0O/Yoo8aFLyne45wUtrVslyx1iWBTbiDig==" />
    <add key="AzCopyContainerName" value="azcopycontainer" />
    <add key="BlobReference" value="aZCopy.zip" />
    <add key="ImageContainerName" value="imagescontainer" />
    <add key="ImageBlobReference" value="AdidasLogo.png" />
    <add key="aZCopyFolderName" value="aZCopy" />
    <add key="RequsetPDFQueue" value="requestpdf" />
    <add key="BPMOnlineHeading1" value="BPM Online Approval" />
    <add key="BPMOnlineHeading2" value="BPM Summary" />
    <add key="BPMOnlineHeading3" value="Executive Summary Financials" />
    <add key="CARBackendPDFHeading1" value="CAR Approval" />
    <add key="CARBackendPDFHeading2" value="CAR Summary" />
    <add key="CARBackendPDFHeading3" value="CAPEX Matrix" />
    <add key="ImagesContaienrName" value="imagescontainer" />
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="de2766b0-4e97-4080-9cf5-f859bf69e439" />
    <add key="AppInsightMessageForMethodStart" value="UpdateTriggering :: {0}() method execution has been started." />
    <add key="AppInsightMessageForMethodEnd" value="UpdateTriggering :: {0}() method execution has been completed." />
    <add key="AppInsightTrace" value="True" />
    <add key="DailyScheduleForUpdateNextCollectingTime" value="00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,08:00:00,09:00:00,10:00:00,11:00:00,12:00:00,13:00:00,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00" />
  </appSettings>
  <log4net>
    <!-- Azure Table Appender, uncomment, set proper QueueName and AWS credentials (appSettings) to try it out -->
    <appender name="AzureTableAppender" type="log4net.Appender.AzureTableAppender, log4net.Appender.Azure">
      <param name="TableName" value="mobilewebjoblogs" />
      <!-- You can either specify a connection string or use the ConnectionStringName property instead -->
      <param name="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mobileapprovallogsdev;AccountKey=+fq1w7yOuMvPf8AH6thoLZeRUKDc8vnl7IpRg26E1waW+zOkVBruoPCYUJm7WOcsmG5coGSqz5GBJX/6jUPZVQ==" />
      <!--<param name="ConnectionStringName" value="GlobalConfigurationString" />-->
      <!-- You can specify this to make each LogProperty as separate Column in TableStorage, 
    Default: all Custom Properties were logged into one single field -->
      <param name="PropAsColumn" value="true" />
      <param name="PartitionKeyType" value="LoggerName" />
    </appender>
    <!-- Azure Blob Appender, uncomment, set proper BucketName and AWS credentials (appSettings) to try it out -->
    <root>
      <level value="ALL" />
      <appender-ref ref="AzureTableAppender" />
      <appender-ref ref="AzureAppender2" />
      <appender-ref ref="AzureAppender3" />
      <appender-ref ref="AzureAppender4" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>