<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-adidas.clb.MobileApprovalUI-ee121339-9a1d-4534-8553-c10bd00f0d63.mdf;Initial Catalog=aspnet-adidas.clb.MobileApprovalUI-ee121339-9a1d-4534-8553-c10bd00f0d63;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=msemfdzjtw.database.windows.net,1433;Initial Catalog=mobileapprovaltokens;User ID=adidevelopment;Password=adidas@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <!-- Azure Table Appender, uncomment, set proper QueueName and AWS credentials (appSettings) to try it out -->
    <appender name="AzureUITableAppender" type="log4net.Appender.AzureTableAppender, log4net.Appender.Azure">
      <param name="TableName" value="mobileapprovalUIlogs" />
      <!-- You can either specify a connection string or use the ConnectionStringName property instead -->
      <param name="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mobileapprovallogsdev;AccountKey=+fq1w7yOuMvPf8AH6thoLZeRUKDc8vnl7IpRg26E1waW+zOkVBruoPCYUJm7WOcsmG5coGSqz5GBJX/6jUPZVQ==" />
      <!--<param name="ConnectionStringName" value="GlobalConfigurationString" />-->
      <!-- You can specify this to make each LogProperty as separate Column in TableStorage, 
    Default: all Custom Properties were logged into one single field -->
      <param name="PropAsColumn" value="true" />
      <param name="PartitionKeyType" value="LoggerName" />
    </appender>
    <!-- Azure Blob Appender, uncomment, set proper BucketName and AWS credentials (appSettings) to try it out -->
    <root>
      <level value="ALL" />
      <appender-ref ref="AzureTableAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="ida:Tenant" value="" />
    <add key="ida:Audience" value="" />
    <add key="TenantURL" value="https://collaborationdev.onmicrosoft.com" />
    <add key="GraphResourceID" value="https://graph.windows.net" />
    <add key="TenantIdUrl" value="http://schemas.microsoft.com/identity/claims/tenantid" />
    <add key="UserObjectIdUrl" value="http://schemas.microsoft.com/identity/claims/objectidentifier" />
    <add key="ida:ClientId" value="af567e62-0cdd-475c-a043-e4ff768221c0" />
    <add key="ida:ClientSecret" value="QA5hN7ySJFbbJA7wYs7r/Epfzo4BpOcr+LP28nB0Qlw=" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="Mobileapprovalaccount" value="radoadmin@collaborationdev.onmicrosoft.com" />
    <add key="Mobileapprovalpassword" value="Adidas@2016" />
    <add key="APIUrl" value="http://mobileapproval.azurewebsites.net" />
    <!-- Start Mobile Aprroval Personalization WebAPi Urls-->
    <add key="PersonalizationAPIBackend" value="/api/personalizationapi/backends" />
    <add key="PersonalizationAPIUser" value="/api/personalizationapi/users/{0}/" />
    <add key="PersonalizationAPIUserDevice" value="/api/personalizationapi/users/{userID}/devices" />
    <add key="PersonalizationAPIUserDeviceID" value="/api/personalizationapi/users/{userID}/devices/{userDeviceID}" />
    <add key="PersonalizationAPIUserBackend" value="/api/personalizationapi/users/{userID}/backends" />
    <add key="PersonalizationAPIBackendId" value="/api/personalizationapi/users/{userID}/backends/{userBackendID}" />
    <!-- End Mobile Aprroval Personalization WebAPi Urls-->
    
    <!-- Start Mobile Aprroval Sync WebAPi Urls-->
    <add key="SyncAPIUserBackend" value="/api/synch/users/{0}/backends" />
    <add key="SyncAPIUserBackendReq" value="/api/synch/users/{0}/backends/{1}/requests"/>
    <add key="SyncAPIUserBackendReqID" value="/api/synch/requests/{0}"/>
    <add key="SyncAPIUApprovers" value="/api/synch/requests/{0}/approvers"/>
    <!-- End Mobile Aprroval Sync WebAPi Urls-->

    <!-- Start Mobile Aprroval ApprovalApi Urls-->
    <add key="ApprovalAPIReqID" value="/api/approval/requests/{0}"/>
    <!-- End Mobile Aprroval ApprovalApi Urls-->
    <add key="ida:Domain" value="collaborationdev.onmicrosoft.com" />
    <add key="ida:TenantId" value="a7f3a52c-2535-4d21-8870-9714a37b324a" />
    <add key="ida:PostLogoutRedirectUri" value="http://genericmobiledev.azurewebsites.net" />
    <add key="UserId" value="sukumar.mannepalli" />
    <add key="SavedataMsg" value="Data has been successfully saved" />
    <add key="ErrorSavedataMsg" value="Error occurred while saving data" />
    <add key="GenericMobileStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=genericmobileapproval;AccountKey=LOoGMRvzxGGNpO4QcbxCixBBytIaGFjo08QRsJAFSiHfD28GB3Zp0O/Yoo8aFLyne45wUtrVslyx1iWBTbiDig==" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="E:\Mobile Approval\log4netUI.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>